<div>
    <div class="categories">
        <h1 class="title"> Categories </h1>
        
        <ul class="list-group">
            <% @categories. each do |c| %>
                <a href="<%= category_products_path(c) %>" id="category" class="list-group-item list-group-item-action"> <h4 id="product"> <%= c.title %> </h4> </a>
            <% end %>
        </ul>
        <h6 class="backwards"> <%= link_to "Back to Home", '/'%> </h6>
    </div>
</div>